/* @import url('../fonts/ArbFONTS-The-Sans-Plain.otf');
@import url('../fonts/ArbFONTS-TheSans-Plain.otf'); */
@font-face {
    font-family: myFirstFont;
    src:url("../fonts/ArbFONTS-TheSans-Plain.otf");

}


/* Start Variables */

:root {
    --original-color: #3d0700;
    --main-color: #281818;
    --secondary-color1: #b67a54;
    --bgColor: #e7ded0;
    --secondary-color2: #cea16c;
    --out-in-text-color: #f7edd8;
    --in-text-color: #553128;
}

/* End Variables */

/********************************************************************************************/

/* Start Global Roles */

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 0; 
    margin: 0;
    font-weight: 100;
}


html {
    scroll-behavior: smooth;
}

body {
    font-family: 'myFirstFont', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

.container {
    padding-top: 30px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 210mm;
    height: 297mm;
    /* border: 1px solid#281818; */
}
/*297 x 210 mm*/
/*3508 x 2480 px*/
ul {
    list-style: none;;
}

a {
    text-decoration: none;
}




@media print {
    @page {
        margin: 0;
        padding: 0;
    }
    body> form {
        visibility: hidden;
        display: none;
    }
}


/* @media (min-width: 768px) { 
    .container {
        width: 750px;
    }
 }


@media (min-width: 992px) { 
    .container {
        width: 970px;
    }
 }


@media (min-width: 1200px) { 
    .container {
        width: 1170px;
    }
 } */


/* End Global Roles */



/********************************************************************************************/

/* Start Form */
 .controal {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    transform: translateY(-979px);
    background: white;
    border: solid 2px black;
    width: 529px;
    height: 550px;
 }
 body> form {
    margin: 0 auto;
    transform: translateY(-226px);
    width: fit-content;    
 }
/* End Form */
/* Start Header */

.container header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container header .left {
    display: flex;
    align-items: center;
    gap: 10px;
}
.container header .left .image {
    width: 100px;
}
.container header .left .image img {
    width: 100%;
}

.container header .left .text h1 {
    font-size: 22px;
    color: var(--in-text-color);
}
.container header .left .text p {
    font-size: 22px;
    color: var(--secondary-color1);
}
.container header .left .text span {
    display: block;
    font-size: 15px;
    color: var(--secondary-color1);
    margin-top: 5px;
}

.container header .right .image {
    width: 150px;
    margin-right: 45px;
}
.container header .right .image img {
    width: 100%;
}

/* End Header */

/* Start body */
.bg-color {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 4px;
    color: var(--in-text-color) ;
}
.container section {
    display: flex;
    flex-direction: column;
    background-color: var(--bgColor);
    padding: 20px;
    padding-bottom: 50px;
    color: var(--original-color);
    font-size: 13px;
    gap: 80px;
}
.container section .header .head,
.container section .header .tite,
.container section .header .address,
.container section .header .name,
.container section .header .dates,
.container section .header .account,
.container section .body .mony-in,
.container section .body .mony-out, 
.container section .body .mony, 
.container section .footer {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container section .footer img {
    position: absolute;
    width: 200px;
    transform: translate(272px, -27px);
}
.container section .header .head .left-feld {
    display: flex;
    gap: 60px;
}
.container section .header .head .left-feld .serial {
    width: 200px;
}
.container section .header .head .right-feld .serial {
    width: 200px;
}
.container section .header .head .right-feld {
    display: flex;
    gap: 60px;
}
.container section .header .head .right-feld .ref-num,
.container section .header .tite .rihgt,
.container section .header .head .left-feld .ref-num {
    text-align: end;
}
.container section .header .tite {
    margin: 13px 0 16px;
}
.container section .header .tite .med {
    width: 420px;
    transform: translateX(26px);
}
.container section .header .address .med {
    width: 260px;
    transform: translateX(-3px);
}
.container section .header .name .med {
    width: 260px;
    transform: translateX(20px);
}
.container section .header .dates .med {
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    width: 260px;
    transform: translateX(-8px);
    padding: 0;
}
.container section .header .dates .med span {
    display: block;
    background: white;
        width: calc(100% / 2 - 8px);
    height: 100%;
    padding: 4px 0;
}
.container section .header .account {
    margin: 4px;
}

.container section .header .account .med {
    width: 260px;
    transform: translateX(1px);
}
.container section .header .name {
    margin: 10px 0 30px;
}
.container section .header .record {
    display: flex;
    justify-content: space-between;
}

.container section .header .record .med{
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    width: 260px;
    transform: translateX(13px);
    padding: 0;
}
.container section .header .record .med span {
    display: block;
    background: white;
        width: calc(100% / 2 - 8px);
    height: 100%;
    padding: 4px 0;
}
.container section .body {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.container section .body .mony-in .med {
    width: 260px;
    transform: translateX(-23px);
}
.container section .body .mony-out .med {
    width: 260px;
    transform: translateX(-18px);
}
.container section .body .mony .med {
    width: 260px;
    transform: translateX(8px);
}
.container section .footer {
}
.container section .footer * {
    width: 50%;
}
.container section .footer .left {
}
.container section .footer .right {
    direction: rtl;
}


/* End body */